<div id="section_boxes">
	<a href="/advanced_searches">
		<div id="staff_section_box">
		</div>
	</a>
	
	<a href="/houses">
		<div id="houses_section_box">
		</div>
	</a>

		
	<a href="/people.pdf">
		<div id="print_section_box">
		</div>
	</a>
</div>