<h1>Houses</h1>

<div id="add_house_form">
	<%= form_remote_tag :url => {:controller => :houses, :action => :create}, :method => :post %>
		<%= text_field_tag "house_name" %> <%= submit_tag "Add House" %>
	</form>
</div>

<ul id="houses_list">
	<%= render :partial => 'houses_list_item', :collection => @houses %>
</ul>