html, body {
	margin: 0px;
	height: 100%;
	font-family: verdana;
	font-size: 0.9em;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 0.9em;
}

#wrapper {
	padding-left: 20px;
	padding-bottom: 100px;
	padding-right: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	width: 800px;
	
	border-left: thin solid #000;
	border-right: thin solid #000;
}

#flash_error {
	color: white;
	font-weight: bolder;
	
	width: 300px;
	height: auto;
	
	border: 2px solid red;
	
	background: #AA0000;
}

#modal_dialog_bg {
	background-color: rgba(100, 100, 100, 0.6);
	z-index: 100;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
}

#modal_dialog_content {
	z-index: 101;	
	background-color: white;
	position: absolute;
	top: 25px;
	margin: 0px auto;
	padding: 25px;
}