html, body {
	margin: 0px;
	height: 100%;
	font-family: verdana;
	font-size: 0.9em;
}

h1 {
	font-size: 2em;
}

h4 {
	padding: 0px;
	margin: 0px;
}

p {
	font-size: 0.9em;
}

#wrapper {
	padding-left: 20px;
	padding-bottom: 100px;
	padding-right: 20px;
	padding-top: 20px;
	margin-left: auto;
	margin-bottom: 0px;
	margin-right: auto;
	margin-top: 0px;
	width: 800px;
	
	border-left: thin solid #000;
	border-right: thin solid #000;
}

#flash_error {
	color: white;
	
	width: 300px;
	height: auto;
	
	margin: 0px auto;
	padding: 10px;
	
	border: 1px solid #FF000;
	
	background: rgba(236, 7, 5, 0.7);
}

#modal_dialog_bg {
	background-color: rgba(100, 100, 100, 0.6);
	z-index: 100;
	left: 0px;
	top: 0px;
	position: fixed;
	height: 100%;
	width: 100%;
}

#modal_dialog_content {
	z-index: 101;	
	background-color: white;
	position: absolute;
	top: 25px;
	margin: 0px auto;
	padding: 25px;
}

table tr.light {
	background-color: white;
}

table tr.dark {
	background-color: #e6e6e6;
}

#search_filters {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-color: #333333;
	border-top-color: #333333;
	border-bottom-style: dotted;
	border-top-style: dotted;
	border-bottom-width: 1px;
	border-top-width: 1px;
	margin-top: 20px;
}

#current_filters {
	margin: 10px;
	padding: 10px;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	background-color: #e6e6e6;
}

#new_filter_form {
	margin: 10px;
	padding: 10px;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	background-color: #e6e6e6;
}

#filters_title {
	font-size: 1em;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-color: #b3b3b3;
	border-bottom-style: dotted;
}

#current_filters table {
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#search_results table {
	padding-right: 10px;
	padding-left: 10px;
}

#search_results table th {
	border-bottom-color: #b3b3b3;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#update_summary {
	background-color: #e6e6e6;
	border-color: #b3b3b3;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	margin: 20px;
}

a:link, a:visited, a:hover, a:active .editor_cancel_link {
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
}

