#section_boxes {
	width: 775px;
	margin: 40px auto;
	padding: 0;
}

#staff_section_box {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/images/staff.jpg);
	width: 250px;
	float: left;
	height: 200px;
	
	text-align: center;
}

#staff_section_box a:link, a:visited {
	text-decoration:none;
	color: #000;
}

#staff_section_box:hover {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/images/staff_hover.jpg);
	text-decoration:none;
}

#houses_section_box {
	background-position: center;
	background-image: url(/images/houses.jpg);
	background-repeat: no-repeat;
	float: left;
	
	width: 250px;
	height: 200px;
	
	text-align: center;
}

#houses_section_box a:link, a:visited {
	text-decoration:none;
	color: #000;
}

#houses_section_box:hover {
	background-position: center;
	background-image: url(/images/houses_hover.jpg);
	background-repeat: no-repeat;
	text-decoration:none;
}

#print_section_box {
	background-position: center;
	background-image: url(/images/print.jpg);
	background-repeat: no-repeat;
	float: left;
	
	width: 250px;
	height: 200px;
	
	margin-left: 10px;
	
	text-align: center;
}

#print_section_box a:link, a:visited {
	text-decoration:none;
	color: #000;
}

#print_section_box:hover {
	background-position: center;
	background-image: url(/images/print_hover.jpg);
	background-repeat: no-repeat;
	text-decoration:none;
}

