<h1>Database Updates</h1>
<% unless @updates.size == 0 %>
<ul>
<% @updates.each do |update| %>
	<li><%= link_to(update.created_at.strftime("%m-%d-%Y %I:%M %p"), update) %></li>
<% end %>
</ul>
<% end %>
