<div id="update_summary">
<p>
	Database Updated on <%= @update.created_at.strftime("%B %d, %Y at %I:%M %p") %>.
</p>

<hr/>

<%= render :partial => "#{@update.update_type.downcase}_detail", :object => @update %>
</div>

<div align="center">
	<%= link_to "Continue -->", home_url %>
</div>