<p>Total: <%= search_results.size %> <%= (search_results.size == 1) ? 'result.' : 'results.'%></p>

<% unless search_results.size == 0 %>
<table>
	<tr>
		<th align="left" width="120px">First Name</th>
		<th align="left" width="120px">Last Name</th>
		<th align="left" width="120px">Email Address</th>
		<th align="left" width="120px">Home Phone</th>
		<th align="left" width="120px">Mobile Phone</th>
	</tr>
	
	<% @index = 0 %>
	<%= render :partial => "search_result_table_row", :collection => search_results %>
</table>

<% end %>