<h1>Staff Search</h1>

<h3>Search Filters</h3>
<input type="button" onclick="$('search_filters').toggle();" value="Hide/Show Filters"/>

<div id="search_filters">
	<%= render :partial => "search_filters", :object => @advanced_search %>
</div>

<h3>Results</h3>
<div id="search_results">
	<%= render :partial => "search_results", :object => @people %>
</div>